/* project colors
ariel dark blue = #07112a = rgb(7,17,42);
ariel light blue = #00aab1 = rgb(0, 170, 177);
*/

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 140%;
    font-size: 16px;
    color: #132020;
    background-color: white;
}

.snv {
    font-size: 2rem;
}

.snv a {
    color: #132020 !important;
}

.snv a:hover {
    color: #132020;
    text-decoration: none;
}

.Home_page,
.page,
footer {
    background-image: none;
    background-color: white;
}

.page {
    padding: 0 2rem;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    height: 75px;
    padding: 27px 0;
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background: white;
    background-position: center;
    z-index: 10;
    width: 100%;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header p {
    padding: 0 20px;
    margin: 0;
}

#my-nav {
    align-content: center;
}

#Ariel {
    display: block;
    height: 48px;
    margin-top: -20px;
}

#my-nav a {
    color: #132020;
}


header nav {
    color: #132020;
    font-size: 1rem;
    background-color: white;
    width: 100px;
}

.nav_large .snv,
.nav_large nav {
    display: none;
}

@supports (display: flex) {
    @media only screen and (min-width: 1200px) {

        .nav_short .snv,
        .nav_short .menu,
        .nav_short .dropdown {
            display: none;
        }

        .nav_large .snv,
        .nav_large nav {
            display: block;
        }

        header nav {
            display: flex !important;
            justify-content: flex-end !important;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .nav_large .snv,
    .nav_large nav {
        display: none;
    }

    .nav_short .snv,
    .nav_short .menu {
        width: 100%;
        display: block;
        margin-bottom: 0 !important;
    }

    nav_short .snv a:hover {
        color: #132020;
    }

    .nav_short .dropdown {
        display: inline;
        margin-bottom: 0 !important;
    }

    .dropdown-content {
        position: absolute;
        right: 15px;
        width: auto;
        display: none;
    }

    .dropdown-content a {
        text-align: right;
        padding-right: 3px;
        display: block;
        width: 100px;
        color: #132020;
    }

    .dropdown-content a:hover {
        text-decoration: none;
        background-color: lightblue;
    }

    .menu div {
        right: 0;
        width: 35px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
    }

    .dropdown {
        position: relative;
    }

    .dropdown:hover > .dropdown-content,
    .dropdown-content:hover {
        display: block;
        background-color: white;
    }

    .snv,
    #page-title {
        font-size: 1.2rem !important;
    }

    .jumbotron h2 {
        font-size: 2.5rem !important;
        line-height: 3rem !important;
    }

    .backtotop {
        display: none;
    }
}

#page-title {
    font-family: 'Trebuchet MS', Helvetica, serif;
    color: #07112a;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 0;
    border-top: 1px solid #000;
    border-right: none;
    border-bottom: 1px solid #000;
    border-left: none;
    padding: 30px 0;
}

section {
    margin-top: 75px;
    font-size: 1rem;
}

.cd-gallery {
    margin-top: 1.6rem;
}

.main_part {
    margin-top: 0px !important;
}

h2 {
    font-size: 1.3rem;
    margin: 0 0 0.8rem 0;
    line-height: 2rem;
    text-align: left;
    clear: both;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
    /*Font-size of the paragraths on the research and the team pages*/
}

.collect {
    display: inline;
    margin-right: 1rem;
}

ul {
    list-style-position: inside !important;
}

.comment {
    opacity: 0.5;
    font-style: italic;
}

.image {
    max-width: 100%;
    width: 100%;
}

a {
    color: #00aab1;
}

a:hover {
    color: #00aab1;
}

.member a {
    font-weight: 600;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0 !important;
}

.thumbnail:hover {
    box-shadow: 0 0 2px 1px #00aab1;
    color: #00aab1;
}

.facebook {
    height: 20px;
    margin-top: 5px;
}

.facebook:hover {
    background-color: #07112a;
}

footer {
    font-size: 1rem;
    padding: 20px 0;
}

#animal {
    height: 48px;
    float: right;
}


footer row img {
    height: 48px;
}


.godown {
    height: 70px;
    display: block;
}

.backtotop {
    margin-right: 0px;
    bottom: 30px;
    position: fixed;
    opacity: 0;
}

.top {
    padding: 0.15rem 0;
    color: #132020 !important;
    font-size: 2rem;
    border: 0.1rem solid #00aab1;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
}

.top:hover {
    background-color: #00aab1;
    color: #132020;
    text-decoration: none;
}

.hideme {
    opacity: 0;
}

header {
    -webkit-box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2), 0 -10px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2), 0 -10px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2), 0 -10px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    -webkit-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/* to keep footer on the bottom */

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 1 auto;
}

footer {
    width: 100%;
    bottom: 0;
}
